
@model FilmDepot.Models.ImpossibleYear

<p>@Model.Year is @Model.errorMessage Try again.</p>

@Html.ActionLink("Try Again.", // <-- Link text  
                 "Registration" // <-- Action Method Name 
                 ) 
