@model RegisterViewModel
<h2>Welcome to the Film Depot.</h2>

@Html.ActionLink("Movie Registration", // <-- Link text  
                 "Registration" // <-- Action Method Name 
          
                 ) 